* {
    justify-content: center;
    /* text-align: center; */
    padding: auto;
    justify-content: center;
    padding-left: 10px;
}

.background {
    background-color: aqua;
    border-radius: 10px;
    width: 470px;
    height: 300px;
    align-items: center;
    padding: auto;
    margin: auto;
}